:root {
  --ff-1: "Bebas Neue", sans-serif;
  --ff-2: "Oswald", sans-serif;

  --clr-primary: rgb(65, 79, 106);
  --clr-gray: rgb(77, 77, 77);
  --clr-light: rgb(255, 255, 255);
  --clr-hero-dark-blue: rgb(57, 72, 101);
  --clr-section-num: rgb(106, 123, 151);
  --clr-section-text: rgb(55, 69, 96);
  --clr-footer: rgb(98, 117, 159);
}
body {
  background-color: var(--clr-light);
}

.debug {
  border: 1px solid red;
}

header {
  position: relative;
  padding: 0.001em;
  min-height: 100vh;
}

.header-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  margin: auto;
  z-index: 20;
  padding: 1em;
}

.logo {
  max-width: 50px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1em;
}

.nav-links li {
  display: inline-block;
}

.nav-links li a {
  text-decoration: underline;
  color: var(--clr-light);
  font-style: italic;
  text-transform: uppercase;
}

.nav-links li .clr-blue {
  color: var(--clr-hero-dark-blue);
}

.background-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inverted-mountain {
  background-image: url(../assets/inverted-mountain.png);
  top: 0;
  min-height: 100vh;
}

.mountain {
  background-image: url(../assets/mountain.png);
  position: absolute;
  min-height: 70vh;
  width: 100%;
  z-index: 10;
  bottom: 0px;
  right: 0px;
}

.hero-text {
  position: absolute;
  top: 47%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-family: var(--ff-1);
  font-size: 4.5rem;
  line-height: 0.9;
  color: var(--clr-gray);
}

.hero-text span {
  font-size: 4.8rem;
  color: var(--clr-hero-dark-blue);
}

@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 7.4rem;
    top: 43%;
    left: 40%;
  }

  .hero-text span {
    font-size: 8rem;
    color: var(--clr-hero-dark-blue);
  }
}

.snow {
  position: absolute;
  width: 100%;
  max-height: 50vh;
  opacity: 0.2;
}

.history-nav {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.logo-text {
  font-family: var(--ff-1);
  font-size: 1rem;
  line-height: 0.9;
  color: var(--clr-gray);
}

.logo-text span {
  font-size: 1.1rem;
  color: var(--clr-hero-dark-blue);
}

.section-history-container {
  background-image: url(../assets/01-history-section-background.png);
  min-height: 120vh;
}

.section-heading {
  position: relative;
  width: max-content;
  font-family: var(--ff-2);
  height: 180px;
  color: var(--clr-section-num);
  font-size: 7rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5em 1.7em;
}

.section-heading div {
  /* line-height: 0; */
  position: absolute;
  bottom: -0.09em;
  left: 62%;
}

.section-heading h3 {
  color: var(--clr-hero-dark-blue);
  font-size: 2rem;
}

.section-heading span {
  display: block;
  background-color: var(--clr-section-num);
  width: 18px;
  height: 18px;
  /* margin-top: 2px; */
  align-self: baseline;
}
